@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
    /* --dark: #040321;
    --element: #1b1b28; */
    --ReferenceBlue: hsl(228, 45%, 44%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue-hover: hsl(236, 33%, 92%);
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--VeryDarkBlue);
    color: var(--DarkGrayishBlue);
    background-image: url("./images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}

.Main {
    width: 37%;
    margin: auto;
}

.Header {
    color: aliceblue;
    margin: 1em 0 0 0;
}

.Header-container {
    display: grid;
    margin: auto;
}

.Header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header-content h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 10px;
}

.List {
    margin: 0;
}

.Todo-item-add {
    height: 90px;
    margin: 1em 0 0.1em 0;
}

.Todo-item {
    margin: 2px;
}

.Todo-item-content {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--VeryDarkDesaturatedBlue);
}

.Todo-item-content input[type="text"] {
    display: flex;
    border-style: none;
    height: 50px;
    background-color: transparent;
    color: aliceblue;
    font-size: 18px;
}

.Todo-item-content input[type="text"]:focus {
    outline: none;
}

.Todo-item-content input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

._radio {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 1em;
    border: 0.1em solid darkslategrey;
}

._radio:checked {
    background-image: url(/images/icon-check.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Todo-info {
    height: 40px;
}

.Todo-info-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--VeryDarkDesaturatedBlue);
}

.Todo-info-content {
    width: 95%;
    align-items: center;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.Todo-info-content :last-child {
    cursor: pointer;
}

.actions {
    margin: 1px;
    font-size: 18px;
    width: 40%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.actions>.active {
    color: var(--ReferenceBlue);
}

.actions span :hover {
    color: aliceblue;
}

.List {
    background-color: rgba(255, 0, 0, 0.425);
    box-shadow: var(--VeryDarkGrayishBlue) 0px 0px 3px 2px;
}

.attribution {
    margin-top: 30px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--ReferenceBlue);
}