@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
    --ReferenceBlue: hsl(228, 45%, 44%);
    --BodyLight: hsl(236, 33%, 92%);
    --BodyDark: hsl(235, 21%, 11%);
    --fontLight: hsl(0, 0%, 98%);
    --fontDark: hsl(233, 14%, 35%);
    --bgDark: hsl(235, 24%, 19%);
    --bgLight: #1da1f2;
    --LightGrayishBlue-hover: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --HoverDark: hsl(236, 9%, 61%);
    --HoverLight: hsl(236, 33%, 92%);
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--BodyDark);
    color: var(--fontDark);
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
}